*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    font-size: 16px;
    color: #3c4043;
    font-family: "Google Sans","Roboto",Arial,sans-serif;
    padding: 61px 0px;
}
.contenedor{
    width: 310px;
    height: 90vh;
    border-right: 1px solid rgb(222, 221, 221);
}
::-webkit-scrollbar {
    display: none;
}
ul{
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding: 8px 23px;
}
ol{
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding: 8px 23px;
}

.lista-cursos,.list3{
    border-top: 1px solid rgb(222, 221, 221);
}
.lista-cursos,.lista-clases{
    padding: 9px;
}
.lista-cursos{
    border-bottom: 1px solid rgb(222, 221, 221);;
}
li:hover {
    background-color: rgb(242, 240, 240);
    border-radius: 40px;   
}
summary:hover{
    background-color: rgb(242, 240, 240);
    border-radius: 40px;   
}
summary,li {
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
  }
  
  details[open] {
    padding: 0.5em;
  }
  
  details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
  }
  .list3{
    padding: 1pc;
  }
  
